/* style.css */

/* Warna utama */
:root {
    --primary-color: #3498db;
    --secondary-color: #f1c40f;
    --background-color: #f9f9f9;
    --text-color: #333;
}

/* Global */
body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 50px;
    background-color: var(--background-color);
    color: var(--text-color);
}

body {
    background-image: url("cuaca.jpeg");
    background-color: #3498db;
    background-repeat: no-repeat;
    background-size: cover;
   }

/* Header */
h1 {
    font-size: 36px;
    margin-bottom: 20px;
    color: var(--primary-color);
}

/* Cuaca hari ini */
.weather-info {
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.weather-info h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

/* Ramalan cuaca */
.forecast {
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
    opacity: 0.5;
    padding-left: 10px;
    padding: 25px;
}

.day {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 120px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.day h4 {
    font-size: 15px;
    margin-bottom: 10px;
}

/* Gambar cuaca */
img {
    width: 100px;
    height: 100px;
    margin: 20px auto;
    border-radius: 50%;
}

/* Left-to-right animation */
.slide-in-from-left {
    animation: slide-in-from-left 1s ease-in-out;
  }
  
  @keyframes slide-in-from-left {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
  }